html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
  max-width: 100%;
}
.nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  flex: auto;

  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}
nav a {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.navicons {
  background-color: #0f0f0f;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 36px;
  position: relative;
  border: none;
  margin-top: 2%;
}
.navicons:hover {
  background: #3ea6ff;
  background-size: 0%;

  border-radius: 50%;
}

.naviconYoutube{
  background-color: #0f0f0f;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 36px;
  position: relative;
  border: none;
  margin-top: 2%;
}

.naviconForMic{
  background-color: #0f0f0f;
  border-radius: 50%;
  position: relative;
  border: none;
}

.naviconForMic:hover{
  background-color: #3ea6ff;
}



.yt-menu {
  display: flex;
  flex-basis: 15%;

  margin-top: 1%;
}
#sidenav-menu {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 40px;
  padding-bottom: 8px;

  padding-top: 1px;
  position: relative;
  width: 40%;
}

#yt-icon {
  display: flex;
  flex-direction: row;
  font-family: Roboto, Arial, sans-serif;

  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);
  width: 100%;
}
.nav-center {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-style: none;
  display: flex;
  justify-content: center;

  font-family: Roboto, Arial, sans-serif;
}
.Searchbar {
  align-items: center;

  background-color: rgba(0, 0, 0, 0);
  display: flex;

  flex-direction: row;
  font-family: Arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
  width: 100%;
}

#Searchbar {
  align-items: center;
  background-color: rgb(18, 18, 18);
  border-bottom-color: rgb(48, 48, 48);
  border-bottom-left-radius: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(48, 48, 48);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(255, 255, 255, 0.88);
  border-right-width: 0px;
  border-top-color: rgb(48, 48, 48);
  border-top-left-radius: 40px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: #0f0f0f;
  caret-color: rgb(241, 241, 241);
  color: rgba(255, 255, 255, 0.88);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
  height: 40px;
  width: 100%;
  max-width: 100%;
  flex-basis: 0.000000001px;
  margin-left: 32px;
  padding: 0px 4px 0px 16px;
  width: 518px;
}
#Searchbar:focus {
  border: 1px solid #3ea6ff;
}
#Searchbutton {
  background-color: rgba(255, 255, 255, 0.08);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border: #303030;
  border-width: 0.3px;
  cursor: pointer;
  height: 45px;

  width: 12%;
}
.searchicon {
  height: 70%;
}
#Navmic {
  display: flex;
  position: relative;
  flex-direction: row;

  background-color: #0f0f0f;
  border-radius: 50%;

  color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
 
  width: 4%;
  margin-top: 0%;
}
#Navmic-pic {
}

.settings-pic {
  position: relative;
  padding-bottom: 10px;
  height: 37px;
}

.nav-right-side {
  background-color: #0f0f0f;
  display: flex;
  position: relative;
  margin-left: 10%;
  margin-top: 1.5%;
  float: right;
}
#sign-in {
  position: relative;
  background-color: #0f0f0f;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-color: rgb(170, 170, 170);
  border-width: 1px;
  cursor: pointer;
  height: 37px;

  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);
  width: 120px;
}
#sign-in-label {
  position: relative;
  color: #3ea6ff;
  font-size: 16px;
  top: -7px;
}
.sign-in-pic {
  padding-top: 3px;
}

.selector-container {
  display: flex;
}
.head-selector {
  margin-left: 3%;

  width: 100%;
  height: auto;
  overflow: scroll;
  white-space: nowrap;
  position: relative;
  scrollbar-width: none;
  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);
}
.head-selector::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
.head-selector::-webkit-scrollbar-thumb {
  background-color: #272727;
}

.head-selector-item {
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 12px;
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: #272727;
  background-color: #272727;
  color: #e3e3e3;
  font-size: 14px;
  font-weight: 400;
  min-width: 12px;
  letter-spacing: 0.2px;
  line-height: 20px;
  height: 32px;
  font-family: Arial, sans-serif;
  padding-left: 12px;
  padding-right: 12px;
}

.head-selector-item a {
  color: #e3e3e3;
}
/* {
  background-color: aliceblue;
} */

.head-selector-item:hover,
.head-selector-item a:hover {
  color: black;
  background-color: aliceblue;
}
.shorts-header {
  display: flex;
  align-items: center;
  margin: 24px 0 24px 8px;
  color: #f1f1f1;
}

.shorts-container {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  margin-left: 5.1%;
  padding-bottom: 2%;
  overflow-x: auto;
  scrollbar-width: none;
  margin-right: 1%;
}

.shorts-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
.shorts-container::-webkit-scrollbar-thumb {
  background-color: #272727;
}

.shorts-icon {
  margin-right: 8px;
}

.cards-section {
  display: flex;
  align-items: center;
  max-height: 400px;
}

.card {
  margin-right: 20px;
}

.shorts-image {
  border-radius: 10px;
  width: 170px;
  height: 300px;
}

.information {
  overflow: hidden;
  height: 100px;
}

.shorts-title {
  width: 170px;
  font-size: 1rem;
  font-weight: 500px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #f1f1f1;
}

.shorts-view {
  font-size: 13px;
  color: #8e8e8e;
}
.main-container {
  display: flex;
  flex-basis: auto;
  flex-direction: row;

  font-size: 10px;

  margin-bottom: 16px;
  scrollbar-color: rgb(170, 170, 170) rgba(0, 0, 0, 0);
  touch-action: auto;
}
.side-bar {
  display: inline-table;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12%;

  overflow: visible;

  font-style: Roboto Medium;
  font-size: 14px;
}
.content-container {
  width: 88%;
  height: 100%;
}
.side-bar > a {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  color: #f1f1f1;
  margin: 8px;
  margin-left: 15px;
  height: 10px;
  padding: 14px;
  border-radius: 10px;
}
.side-bar a:hover {
  background-color: #363434;
}
.side-bar p {
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f1f1f1;
  margin: 25px;
  height: 10px;
  font-size: 16px;
}

.side-bar a img {
  margin-right: 15px;
}
.flex-div {
  color: #e3e3e3;
  display: flex;
  align-items: center;
}
.list-container {
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  overflow: hidden;
}
.vid-info {
  color: #e3e3e3;
  line-height: 15px;
}
.vid-list .thumbnail {
  color: #e3e3e3;
  max-width: 100%;
  border-radius: 10px;
}
.vid-list .flex-div {
  align-items: flex-start;
  margin-top: 9px;
}
.vid-list .flex-div img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.fourdiv {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
  margin-top: 2%;
}

.vid-list {
  margin-left: 15px;
  margin-right: 15px;
  height: 360px;
  width: 21%;
  margin-bottom: -4%;
}
.listtwo-container {
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 600px;
}
.vid-list div a {
  font-size: 1rem;
  font-weight: 500px;
  margin-top: 5px;
  color: #f1f1f1;
}
.vid-view {
  font-size: 13px;
  color: #8e8e8e;
  line-height: 5px;
}

footer {
  border-top: 1px solid white;
  padding-left: 25px;
  padding-top: 25px;
}

footer * {
  color: #aaa;
}

footer > div {
  margin-bottom: 16px;
}

footer > div > div {
  display: flex;
}

footer > div > div > a {
  margin-right: 8px;
}

footer > * {
  font-size: 13px;
}
