html,
body {
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

.gaming-page {
  width: 100%;
  min-width: 1200px;
  padding-left: 20px;
}

.gaming-hero {
  display: flex;
  justify-content: center;
}

.gaming-hero > img {
  width: 100%;
}

.gaming-header {
  background-color: #272727;
  padding: 0 10%;
  
  
}
.gaming-info {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1% 0;
}
.gaming-icon-section {
  margin-right: 2%;
  margin-left: 1.8%;
}

.gaming-icon-section > img {
  border-radius: 40px;
}
.gaming-header-title {
  display: flex;
  flex-direction: column;
}

.gaming-title {
  font-size: 24px;
  font-weight: 400;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  margin: 0;
}

.gaming-subscribe-button {
  border-radius: 18px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 36px;
  margin-left: auto;
  border: none;
}

.music-subscribe-button:hover {
  cursor: pointer;
  background-color: #aaa;
}

.tabs-container {
  padding-left: 8%;
}

.tabs-container > button {
  background-color: #272727;
  border: none;
  color: #aaa;

  padding: 10px 20px;
  margin-right: 4%;
  font-size: 14px;
  font-weight: bolder;
  border-bottom: 2px solid #aaa;
}

.tabs-container > button:hover {
  color: white;
  cursor: pointer;
}

.music-content-container {
  padding: 0 10%;
  padding-top: 1%;
}
.cards {
  margin-bottom: 20px;
}
.music-card {
  display: flex;
  cursor: pointer;
}

.card-content-container {
  padding: 20px 0;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #aaa;
}

.music-card-info {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  max-width: 180px;
}

.music-card-img > img {
  border-radius: 10px;
}
.card-header {
  font-size: 14px;
  font-weight: bold;
}

.cards-second {
  display: flex;
  align-items: center;
}

.play-all-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0f0f0f;
  height: 36px;
  width: 100px;
  border-radius: 18px;
  border: none;
}

.play-all-btn:hover {
  background-color: #aaa;
  cursor: pointer;
}

.music-card-second {
  max-width: 210px;
  margin-right: 1%;
}

.music-card-info-second {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.music-card-info-second:hover {
  cursor: pointer;
}
.music-card-img:hover {
  cursor: pointer;
}
.music-card-info-second > .card-header {
  color: white;
  margin-bottom: 10px;
}

.music-card-info-second > span {
  color: #aaa;
  margin: 2px 0;
}

.cards-last > .card-content-container {
  border: none;
}
.sixdiv {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
  }
  .subsvid-list {
    margin-left: 2px;
    margin-right: 2px;
    height: 360px;
    width: 15%;
    margin-bottom: -9.7%;
  }
  .subsvid-list div a {
    font-size: 0.9rem;
    font-weight: 500px;
    line-height: 1rem;
    max-height: 2rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #f1f1f1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto","Arial",sans-serif;
}
 .subsvid-view {
        font-size: 13px;
        color: #8e8e8e;
        line-height: 5px;
      }
      .flex-subsvid {
        color: #e3e3e3;
        display: flex;
        align-items: center;
      }
      .subsvid-container {
        color: #e3e3e3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        flex-wrap: wrap;
        overflow: hidden;
      }
      .subsvid-info {
        width: 100%;
      }
      .subsvid-list .thumbnail {
        color: #e3e3e3;
        max-width: 100%;
        border-radius: 10px;
      }
      .subsvid-list .flex-subsvid {
        align-items: flex-start;
        margin-top: 7px;
      }
      .banners {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 11%;
        
        margin-left: 8%;
        margin-right: 8%;
       
        min-height: 20dvh;
        
        
      }
      .bannersshorts {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 13%;
        
        margin-left: 8%;
        margin-right: 8%;
       
        min-height: 20dvh;
        
        
      }
      .bannerthumbnail {
        color: #e3e3e3;
        max-width: 100%;
        border-radius: 10px;
        height: 310px;
       
      }
      .bannersshorts img{
        flex-shrink: 0;
        
        min-height: 100%;
      }
       
       
      
      h3{
        font-size: 15px;
        font-weight: normal;
        color: #8e8e8e;
      }
      #banner{
        margin-top: 2%;
        font-size: 17px;      
      }
      #reco{
        width: 77%;
        border-top: 1px solid #272727;
        margin-left: 11.5%;
      }
      #videosFromSub{
        width: 77%;
        border-top: 1px solid #272727;
        margin-left: 11.5%;
        margin-top: -4%;
      }
      #top{
        width: 77%;
        
        margin-left: 11.5%;
      }
      #shortgaming{
        width: 100%;
        border-top: 1px solid #272727;
        margin-left: 4.5%;
        margin-top: 1%;
        margin-bottom: -4%;
      }